
  Table {
    
    border: 3px solid rgba(0, 0, 0, 0.61); 
    border-collapse: separate !important;
    border-radius: 1em;
    column-width: auto;
   width:max-content;
    background-color: rgba(255, 255, 255, 0.521);
  

  }
  

  


